extends ./layout.pug
block layout
    form(method="post", action="/simpleApp/login")
        div(class="card")
            div(class="card-header text-primary").
                Ingreso de Usuario
            div(class="card-body")
                div(class="row")
                    div(class="col-sm-2")
                        label(for="usuario") Usuario:
                    div(class="col")
                        input(id="usuario", type="text", name="usuario", class="form-control")
                div(class="row")
                    div(class="col-sm-2")
                        label(for="password") Contraseña:
                    div(class="col")
                        input(id="password", type="password", name="pwd", class="form-control")
            div(class="card-footer")
                input(type="submit", value="Ingresar", class="btn btn-primary btn-sm")
